<link rel="import" href="../../../components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../../components/cells-radio-group/cells-radio-group.html" />
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html" />
<link rel="import" href="../../../components/cells-date-input/cells-date-input.html" />
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html" />
<link rel="import" href="../../../components/cells-select/cells-select.html" />
<link rel="import" href="../../../components/cells-atom-gooey-spinner/cells-atom-gooey-spinner.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-overlay.html">




<link rel="import" href="justbankit-account-styles.html" />

<dom-module id="justbankit-account">
  <template>
    <style include="cells-grid-template-styles"></style>
    <style include="justbankit-account-styles"></style>

    <div class="cgt">

      <div class="cgt-col-xs-4
            cgt-col-sm-4 cgt-col-sm-ml-2
            cgt-col-md-4 cgt-col-md-ml-4
            cgt-col-lg-4 cgt-col-lg-ml-4
            ">

        <div id="jbNewAccount" class$="{{lockedStyle}}">
          <cells-select id="jbSlcTypesAccs" label="{{t('justbankit-account-types')}}" options="[[accountTypes]]"
            required>
          </cells-select>

          <cells-select id="jbSlcTypesBadge" label="{{t('justbankit-account-badges')}}" options="[[badgeTypes]]"
            required>
          </cells-select>

          <cells-molecule-input id="jbAlias" name="alias" label="{{t('justbankit-account-alias')}}" type="text"
            icon="coronita:close" icon-label="{{t('justbankit-account-alias')}}" value="{{street}}" required auto-validate
            error-message="{{t('justbankit-account-error-alias')}}" max-length="31" allowed-value="^[A-Za-z0-9\s]+$">
          </cells-molecule-input>

          <div class="spinner" hidden$="{{!isLoading}}">
            <cells-atom-gooey-spinner></cells-atom-gooey-spinner>
          </div>

          <p>
            <cells-st-button id="jbBtCancel" on-click="_handleCancelClick" class="size-xs secondary">
              <button>{{t('justbankit-button-cancel')}}</button>
            </cells-st-button>
            <cells-st-button id="jbBtConfirm" on-click="_handleConfirmClick" class="size-xs primary">
              <button>{{t('justbankit-button-confirm')}}</button>
            </cells-st-button>
          </p>
        </div>

      </div>


      <cells-generic-dp id="jbDpAddAccount" host="{{hostEndpoint}}" path="{{pathEndpointAccount}}" handle-as="json"
        method="POST" on-request-success="_handleRequestAddAccountSuccess"
        on-request-error="_handleRequestAddAccountError">
      </cells-generic-dp>

      <cells-alert-manager id="toaster"></cells-alert-manager>
    </div>
    <cells-grid-template-overlay class="hidden"></cells-grid-template-overlay>

  </template>
  <script src="justbankit-account.js"></script>
</dom-module>
