<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html" />
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html" />
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html" />
<link rel="import" href="../../../components/cells-demo-lang-switcher/cells-demo-lang-switcher.html" />

<link rel="import" href="justbankit-header-styles.html" />

<dom-module id="justbankit-header">
  <template>
    <div slot="external__header">

      <style include="justbankit-header-styles"></style>

      <div id="jbSlcLang">
        <cells-demo-lang-switcher label='' langs='["es","en"]'></cells-demo-lang-switcher>
      </div>

      <div id="jbHeader">
        <cells-component-app-header id="jbHeader" text="{{doTranslation('justbankit-header-welcome')}}"
          icon-right$="{{iconLogout}}" 
          on-right-button-pressed="_handleLogoutButtonPressed"
          on-right-secondary-button-pressed="_handleSettingsButtonPressed"
          on-left-button-pressed="_handleHomeButtonPressed">
        </cells-component-app-header>
      </div>

      <cells-generic-dp id="jbDpLogout" host=[[hostEndpoint]] path$="[[pathEndpointLogout]]"
        handle-as="json" method="POST" on-request-success="_handleRequestLogoutSuccess"
        on-request-error="_handleRequestLogoutError">
      </cells-generic-dp>

    </div>
  </template>
  <script src="justbankit-header.js"></script>
</dom-module>
