<dom-module id="justbankit-header-styles"><template>
    <style>
      :host {
        display: block;
        box-sizing: border-box;
        font-family: var(--cells-fontDefault, sans-serif);
        @apply --justbankit-header;
      }

      :host([hidden]),
      [hidden] {
        display: none !important;
      }

      *,
      *:before,
      *:after {
        font: inherit;
        box-sizing: inherit;
      }

      cells-component-app-header {

        --cells-component-app-header-title-font-family: Arial, Helvetica, sans-serif;
        --cells-component-app-header-title-font-weight: bold;
        --cells-component-app-header-title-font-size: x-large;
        --cells-component-app-header-title-text-align: center;
      }

      cells-demo-lang-switcher {
        --cells-dropdown-layer-control-text: {
          --cells-dropdown-layer-control-text_-_color: #ffffff;
        }

        ;

        --cells-demo-lang-switcher-dropdown: {
          width: fit-content;
        }

        ;
      }

      #jbSlcLang {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: x-large;
        text-align: left;
        width: fit-content;
        top: 2%;
        position: absolute;
        left: 2%;
        z-index: 12;
        --cells-dropdown-layer-underline-color: #ffffff;
        --cells-dropdown-layer-value-color: #ffffff;
        --cells-dropdown-layer-icon-color: #ffffff;
      }

    </style>
  </template></dom-module>
