<link rel="import" href="../../../components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../../components/cells-radio-group/cells-radio-group.html" />
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html" />
<link rel="import" href="../../../components/cells-date-input/cells-date-input.html" />
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html" />
<link rel="import" href="../../../components/cells-select/cells-select.html" />
<link rel="import" href="../../../components/cells-atom-gooey-spinner/cells-atom-gooey-spinner.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-overlay.html">




<link rel="import" href="justbankit-movement-styles.html" />

<dom-module id="justbankit-movement">
  <template>
    <style include="cells-grid-template-styles"></style>
    <style include="justbankit-movement-styles"></style>

    <div class="cgt">

      <div class="cgt-col-xs-4
              cgt-col-sm-4 cgt-col-sm-ml-2
              cgt-col-md-4 cgt-col-md-ml-4
              cgt-col-lg-4 cgt-col-lg-ml-4
              ">


        <div id="jbNewMovement" class$="{{lockedStyle}}">
          <cells-select id="jbSlcTypesMovs" label="{{t('justbankit-movement-types')}}" 
            options="[[movementTypes]]" required"></cells-select>

          <cells-molecule-input id="jbTxtAmount" name="amount" label="{{t('justbankit-movement-amount')}}" type="number"
            icon="coronita:close" icon-label="{{t('justbankit-movement-amount')}}" required auto-validate
            error-message="{{t('justbankit-movement-error-amount')}}"  max-length="24">
          </cells-molecule-input>

          <cells-molecule-input id="jbTxtConcepto" name="concept" label="{{t('justbankit-movement-concept')}}"
            type="text" icon="coronita:close" icon-label="{{t('justbankit-movement-concept')}}" required auto-validate
            error-message="{{t('justbankit-movement-error-concept')}}" max-length="32" allowed-value="^[A-Za-z0-9\s]+$">
          </cells-molecule-input>

          <cells-date-input id="jbDtCreationDate" locale="es" text="{{t('justbankit-movement-date')}}"
            format="DD-MM-YYYY" allow-past-date available-weekends on-date-changed="_handleDateChanged">
          </cells-date-input>

          <div class="spinner" hidden$="{{!isLoading}}">
            <cells-atom-gooey-spinner></cells-atom-gooey-spinner>
          </div>

          <p>
            <cells-st-button id="jbBtCancel" on-click="_handleCancelClick" class="size-xs secondary">
              <button>{{t('justbankit-button-cancel')}}</button>
            </cells-st-button>

            <cells-st-button id="jbBtConfirm" on-click="_handleConfirmClick" class="size-xs primary">
              <button>{{t('justbankit-button-confirm')}}</button>
            </cells-st-button>
          </p>
        </div>
      </div>

      <cells-generic-dp id="jbDpAddMovement" host="[[hostEndpoint]]" path="[[pathEndpointMovements]]" handle-as="json"
        method="POST" on-request-success="_handleRequestAddMovementSuccess"
        on-request-error="_handleRequestAddMovementError">
      </cells-generic-dp>

      <cells-alert-manager id="toaster"></cells-alert-manager>
    </div>
    <cells-grid-template-overlay class="hidden"></cells-grid-template-overlay>

  </template>
  <script src="justbankit-movement.js"></script>
</dom-module>
