<dom-module id="justbankit-login-styles"><template>
    <style>
      :host {
        display: block;
        box-sizing: border-box;
        font-family: var(--cells-fontDefault, sans-serif);
        @apply --justbankit-login;
        z-index: 1; 
      }

      :host([hidden]),
      [hidden] {
        display: none !important;
      }

      *,
      *:before,
      *:after {
        font: inherit;
        box-sizing: inherit;
      }


      .elemUnLocked {
        background-color: rgba(0, 151, 19, 0.1);
        padding: 2em;
        text-align: center;
        z-index: 1;

      }


      .elemLocked {
        background-color: rgba(0, 151, 19, 0.1);
        padding: 2em;
        text-align: center;
        z-index: -1;
        -webkit-filter: blur(6px);
        filter: blur(6px);
        box-shadow: inset 0 0 0 50vw rgba(255, 255, 255, 0.2);
        z-index: 1;
      }


      .spinner {
        position: fixed;
        left: 0;
        z-index: 5;
        top: 15%;
        width: -webkit-fill-available;
      }


      cells-atom-gooey-spinner {



        --cells-atom-gooey-spinner-item-size: 20;
        --cells-atom-gooey-spinner-animation-circle-duration: 2s;
        --cells-atom-gooey-spinner-animation-background-duration: 4s;
        --cells-atom-gooey-spinner-background-color-1: #288b14;
        --cells-atom-gooey-spinner-background-color-2: #8fbe21;
        --cells-atom-gooey-spinner-background-color-3: #52dfd3;
        --cells-atom-gooey-spinner-background-color-4: #86f9d6;
        --cells-atom-gooey-spinner-background-color-5: #288b14;
      }

      cells-template-paper-drawer-panel {

        --cells-template-paper-drawer-panel-header: {
          background: linear-gradient(to bottom, rgba(0, 36, 0, 1) 3%, rgba(0, 49, 0, 1) 8%, rgba(0, 64, 0, 0.58) 14%, rgba(0, 87, 0, 0.58) 23%, rgba(131, 199, 131, 0.58) 93%, rgba(180, 221, 180, 0.58) 100%);
          min-height: 60px;
          min-width: 560px;

          justify-content: center;

        }

        ;

        --cells-template-paper-drawer-panel-containersection: {
          background: url("/resources/images/justbankit/background.jpg") no-repeat center center fixed;
          background-size: cover;
        }

        ;

        --cells-template-paper-drawer-panel-main: {

          padding: 0 1em;
          display: inline-table;
          justify-content: center;
          align-content: center;

        }

        ;
      }

      cells-component-app-header {
        --cells-component-app-header-bg-color: none;

        --cells-component-app-header-title: {
          font-family: Arial;
          font-weight: bold;
          font-size: x-large;
          text-align: center;
        }
      }

      ;

    </style>
  </template></dom-module>
