<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../../../components/cells-input-validations-behavior/cells-input-validations-behavior.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-atom-gooey-spinner/cells-atom-gooey-spinner.html">
<link rel="import" href="../../../components/cells-alert-manager/cells-alert-manager.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-overlay.html">


<link rel="import" href="justbankit-login-styles.html">

<dom-module id="justbankit-login">

  <template>
    <style include="cells-grid-template-styles"></style>
    <style include="justbankit-login-styles"></style>

    <div class="cgt">

      <div class="cgt-col-xs-4
        cgt-col-sm-4 cgt-col-sm-ml-2
        cgt-col-md-4 cgt-col-md-ml-4
        cgt-col-lg-4 cgt-col-lg-ml-4
        ">


        <div id="frmLogin" class$="{{lockedStyle}}">
          <cells-input-validations-behavior></cells-input-validations-behavior>

          <cells-credentials-form id="jbFrmLogin" class="form" input-user-options="[[validations]]" autofocus
            showregisterinfo register user-id="[[idCardUser]]" user-name="[[userName]]" clear-id-icon="coronita:close"
            clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize" toggle-pwd-icon-toggled="coronita:hide"
            on-login="_handleLoginButtonClicked" on-request-register="_handleRegisterButtonClicked"
            on-request-change-user="_handleChangeUserButtonClicked"
            >
          </cells-credentials-form>
          <div class="spinner">
            <cells-atom-gooey-spinner hidden$="{{!isLoading}}"></cells-atom-gooey-spinner>
          </div>

        </div>

      </div>


      <cells-generic-dp id="jbDpLogin" host=[[hostEndpoint]] path="[[pathEndpointLogin]]" handle-as="json" method="POST"
        on-request-success="_handleRequestLoginSuccess" on-request-error="_handleRequestLoginError">
      </cells-generic-dp>

      <cells-alert-manager id="toaster"></cells-alert-manager>

    </div>
    <cells-grid-template-overlay class="hidden"></cells-grid-template-overlay>

  </template>

  <script src="justbankit-login.js"></script>
</dom-module>
