<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html" />
<link rel="import" href="../../../components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../../components/cells-movements-list-item/cells-movements-list-item.html" />
<link rel="import" href="../../../components/cells-atom-gooey-spinner/cells-atom-gooey-spinner.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-overlay.html">


<link rel="import" href="justbankit-movements-styles.html" />

<dom-module id="justbankit-movements">
  <template>
    <style include="cells-grid-template-styles"></style>
    <style include="justbankit-movements-styles"></style>

    <div class="cgt">

      <div class="cgt-col-xs-4
            cgt-col-sm-6 cgt-col-sm-ml-1
            cgt-col-md-8 cgt-col-md-ml-2
            cgt-col-lg-10 cgt-col-lg-ml-1
            ">


        <cells-st-button id="jbBtCancelClick" on-click="_handleBackClick" class="size-xs secondary">
          <button>{{t('justbankit-button-back')}}</button>
        </cells-st-button>

        <cells-st-button on-click="_handleAddMovementClick" class="primary composed size-xs">
          <button>
            <span class="btn-contents">
              <cells-atom-icon class="btn-icon icon-size-24" icon="coronita:add"></cells-atom-icon>
              <span class="btn-text">{{t('justbankit-movement-add')}}</span>
            </span>
          </button>
        </cells-st-button>

        <div id="jbLstMovements" class$="{{lockedStyle}}">

          <cells-product-item class$="{{lockedStyle}}"
            name$="{{t('justbankit-accounts-detail-name')}} {{selectedAccount.alias}} / {{selectedAccount.iban}}."
            heading-level="3" class="name-one-line" on-tap="_onAddMovementTap">
          </cells-product-item>

          <template is="dom-repeat" items="{{movementsSelectedAccount}}" as="movement">
            <cells-movements-list-item date="{{movement.date}}" label="{{movement.label}}"
              description="{{movement.description}}"
              parsed-amount$='{"value": {{movement.parsedAmount}} , "currency": "{{selectedAccount.idBadge}}"}'>
            </cells-movements-list-item>
          </template>
          <div class="spinner">
            <cells-atom-gooey-spinner hidden$="{{!isLoading}}"></cells-atom-gooey-spinner>
          </div>
        </div>
      </div>
      <cells-generic-dp id="jbDpGetMovements" host="[[hostEndpoint]]" path="[[pathEndpointMovements]]" handle-as="json"
        method="GET" on-request-success="_handleRequestMovementsSuccess"
        on-request-error="_handleRequestMovementsError">
      </cells-generic-dp>

      <cells-alert-manager id="toaster"></cells-alert-manager>

    </div>
    <cells-grid-template-overlay class="hidden"></cells-grid-template-overlay>
  </template>
  <script src="justbankit-movements.js"></script>
</dom-module>
