<link rel="import" href="../../../components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../../components/cells-radio-group/cells-radio-group.html" />
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html" />
<link rel="import" href="../../../components/cells-date-input/cells-date-input.html" />
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html" />
<link rel="import" href="../../../components/cells-select/cells-select.html" />
<link rel="import" href="../../../components/cells-atom-gooey-spinner/cells-atom-gooey-spinner.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-overlay.html">


<link rel="import" href="justbankit-register-styles.html" />

<dom-module id="justbankit-register">
  <template>
    <style include="cells-grid-template-styles"></style>
    <style include="justbankit-register-styles"></style>

    <div class="cgt">

      <div class="cgt-col-xs-4
              cgt-col-sm-4 cgt-col-sm-ml-2
              cgt-col-md-4 cgt-col-md-ml-4
              cgt-col-lg-4 cgt-col-lg-ml-4
              ">


        <div id="jbNewUser" class$="{{lockedStyle}}">


          <cells-molecule-input id="jbIdCard" name="idCard" label="{{t('cells-credentials-form-user-id')}}" type="text"
            icon="coronita:close" icon-label="{{t('cells-credentials-form-user-id')}}" required value="{{idCard}}"
            auto-validate error-message="{{t('justbankit-register-error-idCard')}}"
            allowed-value="^[0-9]{8,8}[A-Za-z]$">
          </cells-molecule-input>

          <cells-molecule-input id="jbIdPassword" name="password" label="{{t('cells-credentials-form-user-password')}}"
            type="password" icon="coronita:visualize" icon-toggled="coronita:hide"
            icon-label="{{t('cells-credentials-form-user-password-toggle-icon')}}" extra-icon="coronita:close"
            extra-icon-label="{{t('cells-credentials-form-user-password-clear-icon')}}" required value="{{password}}"
            auto-validate error-message="{{t('justbankit-register-error-password')}}"
            allowed-value="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#$^+=!*()@%&]).{8,16}$">
          </cells-molecule-input>

          <cells-molecule-input id="jbFirstName" name="firstName" label="{{t('justbankit-register-firstName')}}"
            type="text" icon="coronita:close" icon-label="{{t('justbankit-register-firstName')}}" required
            value="{{firstName}}" auto-validate error-message="{{t('justbankit-register-error-firstName')}}"
            allowed-value="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
          </cells-molecule-input>

          <cells-molecule-input id="jbLastName" name="lastName" label="{{t('justbankit-register-lastName')}}"
            type="text" icon="coronita:close" icon-label="{{t('justbankit-register-lastName')}}" required
            value="{{lastName}}" auto-validate error-message="{{t('justbankit-register-error-lastName')}}"
            allowed-value="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$">
          </cells-molecule-input>

          <cells-molecule-input id="jbMobilePhone" name="mobilePhone" label="{{t('justbankit-register-mobilePhone')}}"
            type="text" icon="coronita:close" icon-label="{{t('justbankit-register-mobilePhone')}}" required
            value="{{mobilePhone}}" auto-validate error-message="{{t('justbankit-register-error-mobilePhone')}}"
            allowed-value="^(\+34|0034|34)?[67]\d{8}$">
          </cells-molecule-input>

          <cells-molecule-input id="jbEmail" name="email" label="{{t('justbankit-register-email')}}" type="email"
            icon="coronita:close" icon-label="{{t('justbankit-register-email')}}" required value="{{email}}"
            auto-validate error-message="{{t('justbankit-register-error-email')}}">
          </cells-molecule-input>

          <cells-molecule-input id="jbStreet" name="street" label="{{t('justbankit-register-street')}}" type="text"
            icon="coronita:close" icon-label="{{t('justbankit-register-street')}}" value="{{street}}" auto-validate
            error-message="{{t('justbankit-register-error-street')}}" allowed-value="^[A-Za-z0-9\s]+$">
          </cells-molecule-input>

          <cells-molecule-input id="jbPostcode" name="postcode" label="{{t('justbankit-register-postcode')}}"
            type="text" icon="coronita:close" icon-label="{{t('justbankit-register-postcode')}}" value="{{postcode}}"
            auto-validate error-message="{{t('justbankit-register-error-postcode')}}"
            allowed-value="^[0-5][0-9]{3}[0-9]$">
          </cells-molecule-input>

          <cells-molecule-input id="jbCity" name="city" label="{{t('justbankit-register-city')}}" type="text"
            icon="coronita:close" icon-label="{{t('justbankit-register-city')}}" value="{{city}}" auto-validate
            error-message="{{t('justbankit-register-error-city')}}"
            allowed-value="^[a-zA-Z]+(([',.\s-][a-zA-Z ])?[a-zA-Z]*)*$">
          </cells-molecule-input>

          <p>
            <cells-st-button id="jbBtCancel" on-click="_handleCancelClick" class="size-xs secondary">
              <button>{{t('justbankit-button-cancel')}}</button>
            </cells-st-button>

            <cells-st-button id="jbBtConfirm" on-click="_handleConfirmClick" class="size-xs primary">
              <button>{{t('justbankit-button-confirm')}}</button>
            </cells-st-button>
          </p>
        </div>
      </div>

      <cells-generic-dp id="jbDpAddUser" host="[[hostEndpoint]]" path="[[pathEndpointUsers]]" handle-as="json"
        method="POST" on-request-success="_handleRequestAddUserSuccess" on-request-error="_handleRequestAddUserError">
      </cells-generic-dp>

      <cells-alert-manager id="toaster"></cells-alert-manager>
    </div>
    <cells-grid-template-overlay class="hidden"></cells-grid-template-overlay>
  </template>
  <script src="justbankit-register.js"></script>
</dom-module>
