<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/cells-atom-gooey-spinner/cells-atom-gooey-spinner.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-overlay.html">


<link rel="import" href="justbankit-accounts-styles.html">

<dom-module id="justbankit-accounts">
  <template>
    <style include="cells-grid-template-styles"></style>
    <style include="justbankit-accounts-styles"></style>


    <div class="cgt">

      <div class="cgt-col-xs-4
          cgt-col-sm-6 cgt-col-sm-ml-1
          cgt-col-md-8 cgt-col-md-ml-2
          cgt-col-lg-10 cgt-col-lg-ml-1
          ">

          <cells-st-button on-click="_handleAddAccountClick" class="primary composed size-xs">
              <button>
                <span class="btn-contents">
                  <cells-atom-icon class="btn-icon icon-size-24" icon="coronita:add"></cells-atom-icon>
                  <span class="btn-text">{{t('justbankit-movement-add')}}</span>
                </span>
              </button>
            </cells-st-button>
  

        <div id="jbLstAccounts" class$="{{lockedStyle}}">

          <cells-product-item-list id="lstAccounts" class$="{{lockedStyle}}"
            header="{{t('justbankit-accounts-header')}}{{loggedInUser.personal.first_name}}"
            on-product-item-tap="_handleAccountTap">
          </cells-product-item-list>

          <div class="spinner">
            <cells-atom-gooey-spinner hidden$="{{!isLoading}}"></cells-atom-gooey-spinner>
          </div>
        </div>

      </div>

      <cells-generic-dp id="jbDpGetAccounts" host=[[hostEndpoint]] path="[[pathEndpointAccounts]]" handle-as="json"
        method="GET" on-request-success="_handleRequestAccountsSuccess" on-request-error="_handleRequestAccountsError">
      </cells-generic-dp>

      <cells-alert-manager id="toaster"></cells-alert-manager>

    </div>
    <cells-grid-template-overlay class="hidden"></cells-grid-template-overlay>

  </template>

  <script src="justbankit-accounts.js"></script>
</dom-module>
