<dom-module id="justbankit-accounts-styles"><template>
    <style>
      :host {
        display: block;
        box-sizing: border-box;
        font-family: var(--cells-fontDefault, sans-serif);
        @apply --justbankit-accounts;
      }

      :host([hidden]),
      [hidden] {
        display: none !important;
      }

      *,
      *:before,
      *:after {
        font: inherit;
        box-sizing: inherit;
      }

      .elemUnLocked {
        background-color: rgba(0, 151, 19, 0.1);
        padding: 2em;
        text-align: center;
        z-index: 1;

      }


      .elemLocked {
        background-color: rgba(0, 151, 19, 0.1);
        padding: 2em;
        text-align: center;
        z-index: -1;
        -webkit-filter: blur(6px);
        filter: blur(6px);
        box-shadow: inset 0 0 0 50vw rgba(255, 255, 255, 0.2);
        z-index: 1;
      }


      .spinner {
        position: fixed;
        left: 0;
        z-index: 5;
        top: 15%;
        width: -webkit-fill-available;
      }


      .spinner_bk {
        position: absolute;
        top: 15%;
        left: 37%;

        top: 0%;
        z-index: 5;
        box-sizing: border-box;
        width: -webkit-fill-available;
      }



      cells-atom-gooey-spinner {



        --cells-atom-gooey-spinner-item-size: 20;
        --cells-atom-gooey-spinner-animation-circle-duration: 2s;
        --cells-atom-gooey-spinner-animation-background-duration: 4s;
        --cells-atom-gooey-spinner-background-color-1: #288b14;
        --cells-atom-gooey-spinner-background-color-2: #8fbe21;
        --cells-atom-gooey-spinner-background-color-3: #52dfd3;
        --cells-atom-gooey-spinner-background-color-4: #86f9d6;
        --cells-atom-gooey-spinner-background-color-5: #288b14;
      }


    </style>
  </template></dom-module>
